@model IEnumerable<Employee>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="display-3 mb-3">List of Employees</div>

            <a asp-controller="Employees" asp-action="Create">Add New Employee</a>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Employee Id</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Employees" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @* @(
            Html
            .Grid(Model)
            .Build(columns =>
            {
            columns.Add(m => m.Id).Titled("Employee Id");
            columns.Add(m => m.Name).Titled("Name");
            })
            .Using(GridFilterMode.Header)
            .Empty("No Data Found!")
            .Filterable()
            .Sortable()
            .Pageable()
            )*@
        </div>
    </div>
</div>